.content {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.align {
    max-width: 100%;
    position: absolute;
}

.bloodcell1 {
  position: absolute;
  width: 11%;
  /*background: url("cell.png");*/
  z-index: 1;
  animation: bloodcell1 linear 3s;
  animation-iteration-count: 1;
  transform-origin: 0 0;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: bloodcell1 linear 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: bloodcell1 linear 3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 222% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: bloodcell1 linear 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 222% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: bloodcell1 linear 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 222% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.bloodcell2 {
  position: absolute;
  width: 11%;
  /*background: url("cell.png");*/
  z-index: 1;
  animation: bloodcell2 linear 3s;
  animation-iteration-count: 1;
  transform-origin: 0 0;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: bloodcell2 linear 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 0 0;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: bloodcell2 linear 3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 222% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: bloodcell2 linear 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 222% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: bloodcell2 linear 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 222% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.bloodcell3 {
   position: absolute;
   width: 11%;
   /*background: url("cell.png");*/
   z-index: 1;
   animation: bloodcell3 linear 3s;
   animation-iteration-count: 1;
   transform-origin: 0 0;
   animation-fill-mode:forwards; /*when the spec is finished*/
   -webkit-animation: bloodcell3 linear 3s;
   -webkit-animation-iteration-count: 1;
   -webkit-transform-origin: 0 0;
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation: bloodcel3 linear 3s;
   -moz-animation-iteration-count: 1;
   -moz-transform-origin: 222% 50%;
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation: bloodcell3 linear 3s;
   -o-animation-iteration-count: 1;
   -o-transform-origin: 222% 50%;
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation: bloodcell3 linear 3s;
   -ms-animation-iteration-count: 1;
   -ms-transform-origin: 222% 50%;
   -ms-animation-fill-mode:forwards; /*IE 10+*/
 }

  .bloodcell4 {
    position: absolute;
    width: 11%;
    /*background: url("cell.png");*/
    z-index: 1;
    animation: bloodcell4 linear 4s;
    animation-iteration-count: 1;
    transform-origin: 0 0;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: bloodcell4 linear 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 0 0;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: bloodcell4 linear 4s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 222% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: bloodcell4 linear 4s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 222% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: bloodcell2 linear 4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 222% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
  }

@media screen and (min-width: 500px) {
.bloodcell1 {
    width: 70px;
}
}
@keyframes bloodcell1{
  0% {
    transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    transform:  translate(350%,100%)  rotate(0deg) ;
  }
}

@-moz-keyframes bloodcell1{
  0% {
    -moz-transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    -moz-transform: translate(350%,100%)  rotate(0deg) ;
  }
}

@-webkit-keyframes bloodcell1 {
  0% {
    -webkit-transform: translate(400%,700%)   rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(350%,100%)  rotate(0deg) ;
  }
}

@-o-keyframes bloodcell1 {
  0% {
    -o-transform:  translate(400%,700%) rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(350%,100%) rotate(0deg) ;
  }
}

@-ms-keyframes bloodcell1 {
  0% {
    -ms-transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(350%,100%) rotate(0deg) ;
  }
}



@keyframes bloodcell2 {
  0% {
    transform:  translate(390%,740%)  rotate(60deg) ;
  }
  100% {
    transform:  translate(350%,102%)  rotate(60deg) ;
  }
}

@-moz-keyframes bloodcell2 {
  0% {
    -moz-transform:  translate(400%,750%)  rotate(0deg) ;
  }
  100% {
    -moz-transform: translate(350%,100%)  rotate(0deg) ;
  }
}

@-webkit-keyframes bloodcell2 {
  0% {
    -webkit-transform: translate(400%,750%)   rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(350%,100%)  rotate(0deg) ;
  }
}

@-o-keyframes bloodcell2 {
  0% {
    -o-transform:  translate(400%,750%) rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(350%,100%) rotate(0deg) ;
  }
}

@-ms-keyframes bloodcell2 {
  0% {
    -ms-transform:  translate(400%,750%)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(350%,100%) rotate(0deg) ;
  }
}


@keyframes bloodcell3 {
  0% {
    transform:  translate(360%,720%)  rotate(07deg) ;
  }
  100% {
    transform:  translate(370%,100%)  rotate(45deg) ;
  }
}

@-moz-keyframes bloodcell3 {
  0% {
    -moz-transform:  translate(360%,720%)  rotate(0deg) ;
  }
  100% {
    -moz-transform: translate(370%,100%)  rotate(0deg) ;
  }
}

@-webkit-keyframes bloodcell3 {
  0% {
    -webkit-transform: translate(360%,720%)   rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(370%,100%)  rotate(0deg) ;
  }
}

@-o-keyframes bloodcell3 {
  0% {
    -o-transform:  translate(360%,720%) rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(370%,100%) rotate(0deg) ;
  }
}

@-ms-keyframes bloodcell3 {
  0% {
    -ms-transform:  translate(370%,100%)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(350%,100%) rotate(0deg) ;
  }
}


@keyframes bloodcell4 {
  0% {
    transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    transform:  translate(350%,100%)  rotate(0deg) ;
  }
}

@-moz-keyframes bloodcell4 {
  0% {
    -moz-transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    -moz-transform: translate(400%,700%)  rotate(0deg) ;
  }
}

@-webkit-keyframes bloodcell4 {
  0% {
    -webkit-transform: translate(400%,700%)   rotate(0deg) ;
  }
  100% {
    -webkit-transform:  translate(350%,100%)  rotate(0deg) ;
  }
}

@-o-keyframes bloodcell4 {
  0% {
    -o-transform:  translate(400%,700%) rotate(0deg) ;
  }
  100% {
    -o-transform:  translate(350%,100%) rotate(0deg) ;
  }
}

@-ms-keyframes bloodcell4 {
  0% {
    -ms-transform:  translate(400%,700%)  rotate(0deg) ;
  }
  100% {
    -ms-transform:  translate(350%,100%) rotate(0deg) ;
  }
}
