
.staff {

	width: 200px;
  	font-family: helvetica;
  	float: left;
  	text-align: center;

	h3{  
	
  		font-size: 18px;
  		font-weight: bold;
}	
	p{  
	
 		font-size: 11px;
  		text-align: center;


	}

	


}	