@import "reset";
@import "staff";

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.header {
    clear: left;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 50px;
    background: white;
    overflow: hidden;
}

.nav {
    margin-right: 40px;
    float: right;
    vertical-align: middle;
}

.navtext {
    font-family: helvetica;
    font-size: 10px;
}

.company {
    float: left;
    margin-left: 40px;
}

.photo {
    background-image: url(../i/main-photo.jpg);
    margin-top: 10px;
    width: 1278px;
    height: 800px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.sixty {
    width: 1280px;
    height: 60px;
}

.staff1 {
    margin-left: 100px;
    margin-right: 240px;
}

.staff2 {
    margin-right: 240px;
}

.staff-about {
    font-family: helvetica;
    font-size: 11px;
    text-align: center;
}

img {
    border-radius: 100px;
    margin-bottom: 20px;
}

.gap110 {
    clear: left;
    height: 110px;
}

.lowerleft {
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(../i/map.png);
}

.lowerright {
    padding-left: 100px;
    width: 539px;
    height: 320px;
    background: #f2ede5;
    float: right;
    margin-left: 130;
    padding-top: 180px;
}

.gap180 {
    float: left;
    height: 180px;
    padding-top: 180px;
}

.footer {
    clear: left;
    height: 130px;
}

.footer-text {
    font-size: 20px;
    font-family: helvetica;
    text-align: center;
    text-align: middle;
}

h1 {
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

h2 {
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
}

h4 {
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-family: helvetica;
    font-size: 30px;
    font-weight: bold;
}

li {
    list-style-type: none;
    display: inline;
    font-family: helvetica;
    font-size: 10px;
    margin-right: 40px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}