@import "reset";

p {
    padding: 10px;
}

img {
    vertical-align: middle;
    margin-right: 10px;
}

li {
    list-style-type: none;
}

a {
    color: #106db3;
}

a:visited {
    color: #a3b3bf;
}

body {
    font-family: helvetica;
    font-size: 100%;
    line-height: 1.4;
}

h5 {
    color: #106db3;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 20px;
}

h4 {
    color: #106db3;
    font-style: italic;
    font-size: 22px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #a3b3bf;
}

h3 {
    font-size: 20px;
    padding: 10px;
    color: #083452;
}

h2 {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.bodytext {
    font-size: 16px;
    margin-bottom: 10px;
}

.page {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.container1 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 180px;
    background: #106db3;
    background-image: none;
    font-color: white;
}

.article {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.logo {
    margin-left: 10px;
    // margin-top: 10px;
    float: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    color: #083452;
}

.title {
    width: 100%;
    vertical-align: bottom;
    float: left;
}

.search {
    font-size: 10px;
    color: #083452;
    font-weight: bold;
    float: right;
    margin-top: 9px;
}

.about {
    float: right;
    font-size: 10px;
    color: #083452;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 5px;
}

.emil {
        margin-bottom: 30px;
        margin-top: 30px;
    }
.emil25 {
        clear: left;
        font-size: 11px;
        color: #a3b3bf;
        margin-left: 5px;
    }

.boxlinks1 {

    width: 150px;
    height: 30px;
    background: #a3b3bf;
    font-size: 11px;
    color: white;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    text-align: left;

}

.boxlinks2 {
    width: 150px;
    height: 30px;
    background: #a3b3bf;
    font-size: 11px;
    color: white;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    text-align: left;

}


.boxlinks3 {
    width: 150px;
    height: 30px;
    background: #106db3;
    font-size: 11px;
    color: white;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    text-align: left;

}

.ad {
    margin: 0 auto;
    height: 300px;
    text-align: center;
}

.adimg {
    width: 100%;
    text-align: right;
}

.darkgrey {
    background: #5e686f;
}

.lightgrey {
    background: #a3b3bf;
}

.darkblue {
    background: #083452;
}

.medblue {
    background: #106db3;
}

.hrgrey {
   width: 100%;
   height: 1px;
   background: #a3b3bf;
   margin-bottom: 50px;
   margin-top: 50px;
}

.popular {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #083452;
}

.popularposts {
    font-size: 20px;
    color: #083452;
    text-align: center;
    margin-bottom: 25px;
}

.post1 {
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 165px;
    font-size: 24px;
    background: url(../i/surfer.jpg);
    position: relative;
}

.post2 {
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 165px;
    background: url(../i/beer.jpg);
    position: relative;
}

.post3 {
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 165px;
    background: url(../i/zack.jpg);
    position: relative;
}

.post4 {
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    height: 165px;
    background: url(../i/booze.jpg);
    position: relative;
}

footer {
    float: left;
    width: 100%;
    height: 100px;
    background: #083452;
}

.foot {
    margin-top: 30px;
    vertical-align: middle;
    padding-left: 5px;
    text-align: left;
    float: left;
}

.white {
    color: white;
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
    clear: left;
    display: inline-block;
}

.post-text {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    width: 305px;
}

.post-textw {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 30px;
    width: 305px;
}

footer {
    width: 100%;
    height: 100px;
    background: #083452;
}

.foot {
    background: #083452;
    // margin-top: 30px;
    vertical-align: middle;
    // padding-left: 160px;
    // text-align: left;
    // float: left;
}

@media (min-width: 500px) {
    img {
        vertical-align: middle;
        margin-right: 10px;
    }
    li {
        list-style-type: none;
    }
    a {
        color: #106db3;
    }
    a:visited {
        color: #a3b3bf;
    }
    body {
        font-family: helvetica;
        font-size: 100%;
    }
    h5 {
        color: #106db3;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    h4 {
        color: #106db3;
        font-style: italic;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #a3b3bf;
    }
    h3 {
        font-size: 35px;
        color: #083452;
    }
    h2 {
        font-size: 12px;
        text-align: center;
        color: white;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color: white;
        // padding-top: 150px;
   
    }
    .bodytext {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .page {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        width: 100%;
        clear: left;
    }
    .container1 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 180px;
    background: #106db3;
    background-image: none;
    font-color: white;
}

.article {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.logo {
    margin-left: 10px;
    // margin-top: 10px;
    float: left;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    color: #083452;
}

.title {
    width: 100%;
    vertical-align: bottom;
    float: left;
}

.search {
    font-size: 10px;
    color: #083452;
    font-weight: bold;
    float: right;
    margin-top: 9px;
}

.about {
    float: right;
    font-size: 10px;
    color: #083452;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 5px;
}
    .space80 {
        max-width: 1300px;
        width: 100%;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .lspace160 {
        display: none;
        width: 160px;
        height: 600px;
        float: left;
    }
    .lspace90 {
        width: 90px;
        float: left;
        background: #BADA55;
    }
    .rspace90 {
        padding-left: 90px;
    }

    aside {
        float: right;
        text-align: center;
    }
    .emil {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .emil25 {
        float: left;
        font-size: 11px;
        color: #a3b3bf;
    }
    .social-link {
        font-size: 11px;
        color: #a3b3bf;
        text-decoration: none;
        margin-right: 5px;
    }
    .ad-link {
        font-size: 11px;
        color: #a3b3bf;
        text-align: right;
        float: right;
        margin-bottom: 20px;
    }
    .bottom {
        clear: left;
        padding-top: 20px;
    }
    .vspace50 {
        height: 50px;
    }
    .aboutlink {
        margin-left: 50px;
        width: 100%;
    }
    .vspace25 {
        height: 25px;
        width: 100%;
    }
    .ad {
        height: 300px;
        text-align: center;
    }
    .adimg {
        width: 100%;
        text-align: right;
    }
    .sidebar {
        text-align: left;
        float: left;
        width: 100%;
        font-size: 11px;
        color: #a3b3bf;
        margin-left: 85px;
    }
    .oct7 {
        float: none;
        font-size: 14px;
        color: #5e686f;
        width: 100%;
        margin-top: 25px;
        margin-left: 10px;
    }
    .boxlinks1 {
        width: 30%;
        height: 30px;
        background: #a3b3bf;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
        float: left;
        text-align: left;
    }
    .boxlinks2 {
        width: 30%;
        height: 30px;
        float: left;
        background: #a3b3bf;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: 0px;
    }
    .boxlinks3 {
        width: 30%;
        height: 30px;
        float: left;
        background: #106db3;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
        margin-top: 0px;
    }
    .darkgrey {
        background: #5e686f;
    }
    .lightgrey {
        background: #a3b3bf;
    }
    .darkblue {
        background: #083452;
    }
    .medblue {
        background: #106db3;
    }
    .hrgrey {
        max-width: 1300px;
        width: 100%;
        height: 1px;
        background: #a3b3bf;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .popular {
        max-width: 1300px;
        width: 100%;
        float: left;
        font-size: 40px;
        color: #083452;
    }
    .popularposts {
        font-size: 40px;
        color: #083452;
        text-align: center;
        margin-bottom: 50px;
    }
    .post1 {
        width: 25%;
        height: 330px;
        float: left;
        font-size: 24px;
        background: url(../i/surfer.jpg);
        position: relative;
    }
    .post2 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/beer.jpg);
        position: relative;
    }
    .post3 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/zack.jpg);
        position: relative;
    }
    .post4 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/booze.jpg);
        position: relative;
    }
    footer {
        float: left;
        max-width: 1300px;
        width: 100%;
        height: 100px;
        background: #083452;
    }
    .foot {
        margin-top: 30px;
        vertical-align: middle;
        // padding-left: 160px;
        text-align: left;
        float: left;
    }
    .white {
        color: white;
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
        clear: left;
        display: inline-block;
    }
    .post-text {
        margin-left: 10px;
        position: absolute;
        bottom: 0px;
        font-size: 20px;
        width: 100%;
    }
    .post-textw {
        margin-left: 10px;
        position: absolute;
        bottom: 0px;
        color: white;
        font-size: 20px;
        width: 100%;
    }
}

@media (min-width: 900px) {
    img {
        vertical-align: middle;
        margin-right: 10px;
    }
    li {
        list-style-type: none;
    }
    a {
        color: #106db3;
    }
    a:visited {
        color: #a3b3bf;
    }
    body {
        font-family: helvetica;
        font-size: 100%;
    }
    h5 {
        color: #106db3;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    h4 {
        color: #106db3;
        font-style: italic;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #a3b3bf;
    }
    h3 {
        font-size: 35px;
        color: #083452;
    }
    h2 {
        font-size: 12px;
        text-align: center;
        color: white;
    }
    h1 {
        font-size: 85px;
        font-weight: bold;
        text-align: center;
        color: white;
        // padding-top: 150px;
   
    }
    .bodytext {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .page {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        width: 100%;
        clear: left;
    }
    .container1 {
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
        width: 100%;
        height: 520px;
        background: url(../i/mainphoto.jpg);
    }
    .article {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: left;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .article-spacer {
        width: 90px;
    }
    header {
        width: 100%;
    }
    .logo {
        margin-left: 100px;
        margin-top: 10px;
        float: left;
        vertical-align: middle;
        font-size: 14px;
        font-weight: bold;
        color: #083452;
    }
    .title {
        margin-top: 100px;
        max-width: 1300px;
        width: 100%;
        vertical-align: bottom;
        float: left;
    }
    .search {
        font-size: 14px;
        color: #083452;
        font-weight: bold;
        float: right;
        margin-right: 100px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .about {
        font-size: 14px;
        color: #083452;
        font-weight: bold;
        float: right;
        margin-left: 20px;
        margin-top: 16px;
    }
    .space80 {
        max-width: 1300px;
        width: 100%;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .lspace160 {
        display: block;
    
    }
    .lspace90 {
        width: 90px;
        float: left;
        background: #BADA55;
    }
    .rspace90 {
        padding-left: 90px;
    }
    .social {
        float: left;
        width: 30%;
        box-sizing: border-box;
            img {
                margin-right: 0px;
            }
    }
    aside {
        float: right;
        text-align: center;
        width: 100%;
    }
    .emil {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .emil25 {
        float: left;
        font-size: 11px;
        color: #a3b3bf;
    }
    .social-link {
        font-size: 11px;
        color: #a3b3bf;
        text-decoration: none;
        margin-right: 5px;
    }
    .ad-link {
        font-size: 11px;
        color: #a3b3bf;
        text-align: right;
        float: right;
        margin-bottom: 20px;
    }
    .bottom {
        clear: left;
        padding-top: 20px;
    }
    .vspace50 {
        height: 50px;
    }
    .aboutlink {
        margin-left: 50px;
        width: 100%;
    }
    .vspace25 {
        height: 25px;
        width: 100%;
    }
    .ad {
        height: 300px;
        text-align: center;
    }
    .adimg {
        width: 100%;
        text-align: right;
    }
    .sidebar {
        text-align: left;
        float: left;
        width: 100%;
        font-size: 11px;
        color: #a3b3bf;
        margin-left: 25px;
    }
    .oct7 {
        float: left;
        font-size: 14px;
        color: #5e686f;
        width: 100%;
        margin-top: 25px;
        margin-left: 10px;
    }
    .boxlinks1 {
        width: 158px;
        height: 30px;
        background: #a3b3bf;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
        float: left;
        text-align: left;
    }
    .boxlinks2 {
        width: 158px;
        height: 30px;
        float: left;
        background: #a3b3bf;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
    }
    .boxlinks3 {
        width: 140px;
        height: 30px;
        float: left;
        background: #106db3;
        font-size: 11px;
        color: white;
        vertical-align: middle;
        margin-right: 10px;
    }
    .darkgrey {
        background: #5e686f;
    }
    .lightgrey {
        background: #a3b3bf;
    }
    .darkblue {
        background: #083452;
    }
    .medblue {
        background: #106db3;
    }
    .hrgrey {
        max-width: 1300px;
        width: 100%;
        height: 1px;
        background: #a3b3bf;
        float: left;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .popular {
        max-width: 1300px;
        width: 100%;
        float: left;
        font-size: 40px;
        color: #083452;
    }
    .popularposts {
        font-size: 40px;
        color: #083452;
        text-align: center;
        margin-bottom: 50px;
    }
    .post1 {
        width: 25%;
        height: 330px;
        float: left;
        font-size: 24px;
        background: url(../i/surfer.jpg);
        position: relative;
    }
    .post2 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/beer.jpg);
        position: relative;
    }
    .post3 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/zack.jpg);
        position: relative;
    }
    .post4 {
        width: 25%;
        height: 330px;
        float: left;
        background: url(../i/booze.jpg);
        position: relative;
    }
    footer {
        float: left;
        max-width: 1300px;
        width: 100%;
        height: 100px;
        background: #083452;
    }
    .foot {
        margin-top: 30px;
        vertical-align: middle;
        padding-left: 160px;
        text-align: left;
        float: left;
    }
    .white {
        color: white;
        font-size: 14px;
        text-align: left;
        margin-left: 5px;
        clear: left;
        display: inline-block;
    }
    .post-text {
        margin-left: 10px;
        position: absolute;
        bottom: 0px;
        font-size: 30px;
        width: 305px;
    }
    .post-textw {
        margin-left: 10px;
        position: absolute;
        bottom: 0px;
        color: white;
        font-size: 30px;
        width: 305px;
    }
}